/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: grey;
}
section{
    color: aliceblue;
}

.carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    width: 100%;
    height: 100%;
    background-image: url(../img/bidaiakReg1.jpg);
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
}
